@page
@model PiekShop.Pages.Bakeries.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bakery</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bakery.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bakery.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bakery.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bakery.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bakery.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bakery.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bakery.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
