@page
@model PiekShop.Pages.Bakeries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create"> Stwórz nowy produkt </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bakery[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bakery[0].Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bakery[0].Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bakery)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <img src="@Url.Content(item.Image)" width="100" height="100">
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID"> Edytuj </a> |
                    <a asp-page="./Details" asp-route-id="@item.ID"> Szczegóły </a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID"> Skasuj produkt </a>
                </td>
            </tr>
        }
    </tbody>
</table>
